.mainDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex: 1;
}

.div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0 0 2rem 5rem;
}

.noAdvertDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70vh;
  grid-column: 1 / -1;
  font-size: 1.2rem;
  text-align: center;
}

.noAdvertDiv p {
  color: whitesmoke;
  font-family:
    Lora,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}

.rootMain {
  flex: 1;
}

.nav {
  padding: 0 0 0 10rem;
}

.managementNav {
  padding: 0 0 0 10rem;
}
