# --- Dependencies & Environments ---
node_modules/
**/node_modules/
.venv/
**/.venv/
env/
venv/
ENV/
bin/
lib64/


# --- Python / Machine Learning ---
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.ipynb_checkpoints


# --- Next.js / React ---
.next/
**/.next/
out/
build/
dist/
.vercel
*.tsbuildinfo
next-env.d.ts

# --- Package Managers ---
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# --- Environment & Secrets ---
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key

# --- Debug & Logs ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs
*.log

# --- OS Specific ---
.DS_Store
Thumbs.db

pytorch-model-backend/.venv/
**/node_modules/

# uploads/

pytorch-model-backend/train_models/
pytorch-model-backend/Dockerfile
pytorch-model-backend/requirements.txt
pytorch-model-backend/README.md
pytorch-model-backend/train.py
pytorch-model-backend/train_step.py
pytorch-model-backend/test_step.py
pytorch-model-backend/.gitignore
pytorch-model-backend/.gitattributes
