.div {
  border: 1px solid transparent;
  background:
    linear-gradient(#241442, #241442) padding-box,
    linear-gradient(45deg, #9867ff, #00f4ff) border-box;
  border-radius: 12px;
  transition: transform 0.25s ease-in;
}

.linkDiv {
  position: sticky;
  top: 76px;
  left: 0%;
  height: calc(100vh - 60px);
  width: 250px;
  z-index: 1000;
  backdrop-filter: blur(12px);
  border-right: 1px groove whitesmoke;
  border-top: 1px groove whitesmoke;
  border-top-right-radius: 8px;
}

.divContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.textOptionsContainer {
  display: flex;
  justify-content: space-between;
}

.text {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
}

.optionsIcon {
  color: #a9a3b0;
}

@media (max-width: 768px) {
  .div {
    width: 100%;
    max-width: 400px;
  }
  .divContainer {
    gap: 1rem;
    padding: 1rem 0.5rem;
  }
}
