.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: clamp(50vh, 70vh, 90vh);
  padding: 1rem;
}

.loading {
  border: clamp(4px, 1vw, 6px) solid rgba(90, 50, 50, 0.1);
  border-top: clamp(4px, 1vw, 6px) solid #00f4ff;
  border-radius: 50%;
  width: clamp(30px, 8vw, 40px);
  height: clamp(30px, 8vw, 40px);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
