.button {
  border-radius: 15px;
  background-color: #ff6b6b;
  color: white;
  grid-column: 1 / -1;
  width: 100%;
  border: clamp(3px, 1vw, 5px) solid #ff6b6b;
  height: clamp(48px, 8vw, 60px);
  font-size: clamp(18px, 4vw, 25px);
  transition:
    background 0.5s ease,
    color 0.5s ease;
  margin: 0 0 1rem 0;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: white;
  color: #ff6b6b;
  cursor: pointer;
}

@media (min-width: 769px) {
  .button {
    grid-column: span 2;
  }
}
