.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.listWrapper {
  width: 820px;
}

.listHeader {
  display: grid;
  grid-template-columns: 174px 450px 166px;
  justify-content: center;
  align-items: center;
}

.listHeader span {
  text-align: center;
  font-weight: bold;
  margin: 0 0 6px 0;
  color: whitesmoke;
}

.myFavoriteAdvertsTextDiv {
  width: 820px;
}

.myFavoriteAdvertsTextDiv h3 {
  margin: 12px 0;
  color: whitesmoke;
}

.noFavoriteAdvertDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 447px;
}

.noFavoriteAdvertDiv p {
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

.managementNav {
  padding: 0 0 0 20rem;
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
  }

  .listWrapper {
    width: 100%;
  }

  .myFavoriteAdvertsTextDiv {
    width: 100%;
    text-align: center;
  }

  .myFavoriteAdvertsTextDiv hr {
    width: 100% !important;
  }

  .listHeader {
    display: none;
  }

  .managementNav {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }

  .noFavoriteAdvertDiv {
    height: 50vh;
  }
}
