fastapi
uvicorn
pydantic
pandas
numpy
xgboost
joblib
slowapi
starlette
pillow
python-multipart
scikit-learn
scipy
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.1.2+cpu
torchvision==0.16.2+cpu