.div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  min-height: 280px;
}

.input {
  width: 40rem;
}

.button:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .div {
    padding: 0 1.5rem;
    width: 100%;
    box-sizing: border-box;
  }

  .div form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input {
    width: 100%;
  }

  .div button {
    width: 100%;
  }
}
